* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;

  --mediumGrey: #434544;
  --darkGrey: #343434;

  --white: #fefefe;
}

/* ============================BODY START =========================== */

body {
  overflow-x: hidden;
  background-color: var(--darkGrey);
  width: 100vw;
}
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.page-header img {
  width: 40px;
}

.page-header h2 {
  letter-spacing: 1.2px;
  font-size: 24px;
  color: var(--white);
  font-family: var(--roboto);
  text-transform: capitalize;
  position: relative;
}
.page-header h2::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  background-color: var(--mediumGrey);
  width: 100%;
  height: 1px;
}
