* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;

  --mediumGrey: #434544;
  --darkGrey: #343434;

  --white: #fefefe;
}
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input {
  border-radius: 3px;
  height: 40px;
  outline-style: none;
  border: none;
  padding-left: 10px;
  color: var(--mediumGrey);
}
::placeholder {
  font-family: var(--roboto);
  text-transform: capitalize;
  font-size: 8px;
}
.btn {
  border: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--roboto);
  border-radius: 3px;
}

.filled-btn {
  background-color: var(--blue);
  height: 0;
  padding: 20px;
  color: var(--white);
  margin-bottom: 20px;
}

.nav-bar {
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: var(--mediumGrey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--mediumGrey);
  opacity: 0.5;
  z-index: 20;
}
/* ======================global header ===================== */
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.grey-bg {
  background-color: var(--mediumGrey);
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  color: var(--white);

  text-transform: uppercase;
  font-weight: 500;
  width: 80vw;
}
.page-header img {
  width: 40px;
}
.page-header h2 {
  letter-spacing: 1.2px;
  font-size: 15px;
}

/* ============================BODY START =========================== */

body {
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.all-pages-bg {
  width: 100vw;
  height: 100vh;
  background-color: var(--darkGrey);
  overflow-y: scroll;
}
/* =-========================homepage  ===================== */
.logo-container {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.logo-img {
  display: flex;
  align-items: center;

  width: 150px;
}

.bg-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: contain;
}
.bg-container img {
  width: 100vw;
  height: 100vh;
}

.homepage-main {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.text-content {
  display: flex;

  justify-content: center;
  flex-direction: column;
  text-align: start;
  font-family: var(--roboto);
  color: var(--white);
}
.slogan {
  line-height: 40px;
  margin-bottom: 40px;
}
.text-content span {
  color: var(--blue);
}
.text-content h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.text-content h1 {
  text-transform: uppercase;
  font-size: 80px;
}
.text-content p {
  width: 90vw;

  line-height: 30px;
  margin-bottom: 50px;
}

.toggle-register {
  background-color: var(--blue);

  color: var(--white);

  width: 200px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-login {
  border: 1px solid var(--white);
  background-color: transparent;

  color: var(--white);

  width: 200px;
  justify-content: space-around;
}

/* ====================== block container ================ */
.block-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 80vw;
  z-index: 50;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  transition: 300ms ease-in;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-container input {
  width: 60vw;
  margin-bottom: 20px;
  border: 1px solid var(--blue);
}

/* ===========register header logo and close btn === */
.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box-header {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-between;
  color: var(--blue);
  margin-top: 20px;
}
.box-header p {
  margin-left: 20px;
  text-transform: uppercase;
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 14px;
}

#close-btn {
  margin-right: 20px;
  cursor: pointer;
  color: var(--blue);
}
/* ============register h3 and line ========= */
.block-container h3 {
  color: var(--blue);
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}
.block-container h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--mediumGrey);
  opacity: 0.5;
}

/* ==========input name and alert ============ */
.name-alert {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.name-alert p {
  font-family: var(--roboto);
  font-size: 10px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--blue);
  letter-spacing: 1.2px;
}
/* ============alerts for every input ============ */
.name-alert .alert {
  display: none;

  color: var(--blue);
  font-size: 8px;
  font-weight: 400;
}
.name-alert .show-alert {
  display: flex;
}

/* ==============login container ================= */

.role-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 60vw;
}

.title {
  color: var(--mediumGrey);
  font-family: var(--fontSansSerif);
  font-size: 14px;
}
.role-btn {
  font-size: 10px;
  color: var(--mediumGrey);
  border: 1px solid var(--blue);
  background-color: transparent;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.forgot-password {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: 20px;
  color: var(--darkGrey);
  opacity: 0.8;
  font-family: var(--roboto);
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 1.5px;
}

/* ==================END OF HOMEPAGE ========================= */

/* =====================start of coach homepage =========== */

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 60px;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: 80vw;
  position: relative;
}
.profile-container ::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--mediumGrey);
}
.profile-container ::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--mediumGrey);
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 80vw;
}
.profile-info h4 {
  font-family: var(--roboto);
  color: var(--blue);
  font-size: 15px;
  text-transform: capitalize;
}
.coach-name {
  font-family: var(--roboto);
  text-transform: capitalize;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
}
.dashboard-container {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  justify-content: space-between;
}
.dashboard-container h4 {
  font-family: var(--roboto);
  color: var(--blue);
  font-size: 15px;
  text-transform: capitalize;
}
.stat-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--roboto);
  font-size: 15px;
  text-transform: capitalize;
}
.stat-box p {
  color: var(--white);
  opacity: 0.5;
  margin-bottom: 12px;
}
.stat-box span {
  color: var(--white);
  background-color: var(--blue);
  padding: 10px;
  border-radius: 3px;
}

.navigation-main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100vw;
  margin-top: 30px;
}

.navigation-tools-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 4vw;
  row-gap: 6vh;
  width: 80vw;
  margin-bottom: 70px;

  place-items: center;
}

.access-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--mediumGrey);
  border-radius: 15px;
  width: 38vw;
  height: 160px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.access-box i {
  font-size: 30px;
  color: var(--blue);
  margin-bottom: 30px;
}

.access-box p {
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-family: var(--roboto);
}

/* =======================search  input ================= */
.search-container {
  width: 100vw;
  height: 30px;

  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  position: relative;
}
.search-input {
  width: 80vw;
  height: 40px;
  background-color: var(--mediumGrey);
  color: var(--white);

  transition: 300ms ease-in;
}
.search-input::placeholder {
  color: var(--white);
  font-size: 15px;
  opacity: 0.8;
}
#search-icon-btn {
  position: absolute;
  right: 15vw;

  color: var(--white);
  opacity: 0.8;
}

/* ====================Start of clients page ================= */
.grid-col-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
  justify-content: center;

  width: 100vw;
  margin-bottom: 9vh;
}

.client {
  width: 80vw;
  min-height: 60px;

  border-bottom: 1px solid var(--mediumGrey);
  font-family: var(--roboto);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.client-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
}

.client-info p {
  font-size: 18px;
  color: var(--white);
}
.client-info span {
  font-size: 12px;
  color: var(--white);
  opacity: 0.5;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;

  cursor: pointer;
}

/* ==============delete verification box =========== */
.delete-verification-section {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 1000;
}

.delete-verification-box {
  background-color: var(--white);
  height: 200px;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  z-index: 102;
}
.delete-verification-box h3 {
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 15px;
  color: var(--mediumGrey);
  margin-bottom: 30px;
  width: 60vw;
  text-align: center;
}
.delete-verification-box span {
  text-transform: capitalize;

  color: var(--blue);
}
.yes-no-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.yes-no-container button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontSansSerif);
  font-size: 15px;
  background-color: var(--mediumGrey);
  color: var(--white);
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

/* =====================js  =================== */
.display-flex {
  display: flex;
}
.select-role {
  background-color: var(--blue);
  color: var(--white);
}
